* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.pokemon-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* .pokemon {
  min-height: 20rem;
  width: 15rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.452);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem;
  background: rgba(255, 255, 255, 0.532);
} */
.pokemon .index {
  background-color: rgb(219, 155, 166);
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  color: white;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.306);
}
.show {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.pokemon  img {
  height: 10rem;
  width: 12rem;
}

.bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.594),
      rgba(255, 255, 255, 0.555)
    ),
    url("../bg-img.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;
  padding: 2rem 0;
}
.container h1 {
  background: linear-gradient(
    to right,
    rgba(255, 127, 80, 0.71),
    rgba(255, 105, 180, 0.687)
  );

  display: inline-block;
  padding: 3px 2.5rem;
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
  color: rgb(64, 6, 6);
}

.container {
  display: flex;
  flex-direction: column;
}
.btn {
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0.603),
    rgba(32, 32, 163, 0.365)
  );
  color: black;
  font-size: 12px;
}

.poke-parent {
  width: 15rem;
  min-height: 250px;
  max-height: auto;
  perspective: 1000px;
  margin: 2rem;
}

.poke-main {
  position: relative;
  width: 100%;
  min-height: 20rem;
  transition: transform 0.5s; 
  transform-style: preserve-3d; 
}

.pokemon, .poke-back {
  width: 100%;  
  height: 20rem;
  position: absolute;
  backface-visibility: hidden; 
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.452);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem;

  background: rgba(255, 255, 255, 0.532);
}

.poke-back {
  background-color: rgba(250, 235, 215, 0.486) !important;
  transform: rotateY(180deg); 
  height: 20rem !important;
}

.poke-parent:hover .poke-main {
  transform: rotateY(180deg); 
  transition: all 0.8s ease-in-out;

}
.poke-parent:hover .pokemon  {
  background-color: rgba(0, 128, 0, 0.32) !important;
  /* transition: all 2s ease-in-out; */
}
.poke-back::-webkit-scrollbar {
  display: none; 
}

poke-main {
  position: relative;
  width: 100%;
  min-height: 20rem;
  transition: transform 0.5s; 
  transform-style: preserve-3d; 
}

.poke-parent {
  width: 250px;
  min-height: 250px;
  max-height: auto;
  perspective: 1000px; 
}

.pokemon, .poke-back {
  width: 100%;
  min-height: 250px;
  max-height: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  backface-visibility: hidden; 
}

.poke-back {
  background-color: azure;
  transform: rotateY(180deg); 
}
.poke-back .index {
  background-color: rgb(219, 155, 166);
  border-radius: 50%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  color: white;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.306);
}
.poke-back img{
  height: 10rem;
  width: 12rem;
}
.poke-back{
  height: 20rem;
  overflow: scroll;
}